# For projects that use the Waf build system: https://waf.io/
# Dot-hidden on Unix-like systems
.waf-*-*/
.waf3-*-*/
# Hidden directory on Windows (no dot)
waf-*-*/
waf3-*-*/
# Lockfile
.lock-waf_*_build

build/
log/
.pyc
.cproject
.project
.settings
*.tar*
*.sublime*
*.swp
*/deptran/rcc_service.py
*/deptran/rcc_rpc.h
*/deptran/rcc_rpc.py
conf
tmp_conf*.xml
benchmark*.log
log*
.idea
*.orig
deptran/mdcc/mdcc_rpc.h
.python-version
.ycm_extra_conf.py
.unittest-gtest/
*rpc.h
*.res
*.prof
/buck-out/
/.buckd/
/buckaroo/
BUCKAROO_DEPS
.buckconfig.local
tags
GTAGS
GRTAGS
GPATH
/.clang-format
